.button-long-text, .button-long-text * {
    font-size: 16px;
}
button:hover { 
    color: rgb(47, 47, 197); 
    cursor: pointer;
    border-top: solid 1px rgba(128, 128, 128, 0.068);
    border-left: solid 1px rgba(128, 128, 128, 0.068);
    border-right: solid 1px rgba(128, 128, 128, 0.068);
}
button:focus { outline: none; }
button:active { box-shadow: inset 0 0 3px #ffa500; }