@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* { font-family: 'Lato', sans-serif; }
body {
    background: linear-gradient(45deg,  red, orange);
    height: calc(100vh - 30px);
    width: calc(100% - 30px);
    margin: 0!important;
    padding: 15px;
}

.react-calculator {
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    border-radius: 3px;
    max-width: 300px;
    margin: 0 auto;
    display: flow-root;
    position: relative;
}
.result {
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 70px;
}
.numbers { 
    width: 70%;
    float: left;
}
.numbers button, .math-operations button, .functions button {
    padding: 10px;
    width: calc(calc( 100% / 3) - 2px);
    background-color: transparent;
    height: 60px;
    border: 1px transparent solid;
    border-bottom: solid 2px rgba(27, 27, 27, 0.219);
    margin: 0 1px;
    color: orange;
    font-size: 22px;
    transition: all 0.3s;
}
.math-operations {
    width: 30%;
    float: left;
}
.math-operations button {
    width: 100%;
    color: rgb(238, 67, 67);
}
.functions button { color: rgb(238, 67, 67); }
.functions {
    float: left;
    position: absolute;
    width: 70%;
    display: flex;
    bottom: 0;
    left: 0;
}
.result-number {
    width: calc(100% - 30px);
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 auto auto;
    text-align: right;
    padding: 15px;
    font-size: 24px;
}
button:hover { 
    color: rgb(47, 47, 197); 
    cursor: pointer;
    border-top: solid 1px rgba(128, 128, 128, 0.068);
    border-left: solid 1px rgba(128, 128, 128, 0.068);
    border-right: solid 1px rgba(128, 128, 128, 0.068);
}
button:focus { outline: none; }
button:active { box-shadow: inset 0 0 3px #ffa500; }